# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# IDE folders
.idea/
__pycache__/

# Other files and folders
.settings/
libs/dask-worker-space

# Executables
*.swf
*.air
*.ipa
*.apk
*.json
libs/*.ipynb

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# data
*.csv
*.nc